-#%form
%tr
  %td{:align => "left", :valign => "top"}
    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td.padd85tp{:align => "left", :valign => "top", :width => "43%"}
          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "236"}
            %tr
              %td{:align => "left", :bgcolor => "#064B7E", :style => "padding:2px;", :valign => "top"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td.left_bg{:align => "left", :valign => "top"}
                      %table{:border => "2", :bordercolor => "#FFFFFF", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                        %tr
                          %td.text_add_7{:align => "left", :height => "50"} Registration
                        %tr
                          %td.text_add_7{:align => "left", :height => "50"} Additional info
                        %tr
                          %td.text_add_7{:align => "left", :height => "50"} Checkin
                        %tr
                          %td{:height => "50"}
        %td{:align => "left", :valign => "top", :width => "57%"}
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "625"}
            %tr
              %td.padd15bottm{:align => "right", :valign => "top"}
                %a{:href => "#"}
                  .text_add_5.padd50ft Additional
                  %img.padd35ft{:border => "0", :src => "/images/back_to_list_img.png"}/
            %tr
              %td.mid_bg_add{:align => "left", :height => "10", :valign => "top", :width => "625"}
                %table.text_add_6.padd25bt.padd20tp{:border => "0", :cellpadding => "2", :cellspacing => "2", :width => "100%"}
                  %tr
                    %td.padd25lft{:align => "left", :height => "42", :valign => "middle", :width => "41%"} Designation:
                    %td{:align => "left", :height => "42", :valign => "middle", :width => "59%"}
                      %input.text_feld_area{:name => "", :type => "text"}/
                  %tr
                    %td.padd25lft{:align => "left", :height => "42", :valign => "middle"} Organisation :
                    %td{:align => "left", :height => "42", :valign => "middle"}
                      %input.text_feld_area{:name => "", :type => "text"}/
                  %tr
                    %td.padd25lft{:align => "left", :height => "42", :valign => "middle"}
                      Date of Birth:
                      %br/
                    %td{:align => "left", :height => "42", :valign => "middle"}
                      %input.text_feld_area{:name => "", :type => "text"}/
                  %tr
                    %td.padd25lft{:align => "left", :height => "42", :valign => "middle"} In Gyan years:
                    %td{:align => "left", :height => "42", :valign => "middle"}
                      %input.text_feld_area{:name => "", :type => "text"}/
                  %tr
                    %td.padd25lft{:align => "left", :height => "42", :valign => "middle"} Email:
                    %td{:align => "left", :height => "42", :valign => "middle"}
                      %input.text_feld_area{:name => "", :type => "text"}/
