var rooms = new Array();
<% for room in @room_list -%>
  rooms.push(new Array(<%= room.building_id %>, '<%=h room.room_no %>', <%= room.id %>));
<% end -%>

function buildingSelected() {
  building_id = $("#room_building_id").attr("value");
  //Clear all the select menu options
  $("#checkin_room_id").html("");
  // fill the select menu options
  // HACK - here i is used as an index (as there was some problem using it directly)
  $(rooms).each(function(i) {
    if (rooms[i][0] == building_id) {
      $("#checkin_room_id").append("<option value=’" + rooms[i][2] + "’>" + rooms[i][1] + "</option>")
    }
  });
}

jQuery(document).ready(function(){
  buildingSelected();
  $("#room_building_id").change(buildingSelected);
});
